<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Argunemto de entrada -  <%= SO %></h1>
    <h1>Nombre de la plataforma (sistema operativo) -  <%= SO %></h1>
    <h1>Versión de node.js - <%= VDN %></h1>
    <h1>Memoria total reservada (rss) - <%= MTR %></h1>
    <h1>Path de ejecución - <%= PDE %></h1>
    <h1>Process id - <%= PI %></h1>
    <h1>Carpeta del proyecto - <%= CDP %></h1>
</body>
</html>